:root {
    --main-bg-color: black;
    --border-color : #fff;
    --text-color : #fff;
  }

body {
    background-color: var(--main-bg-color);
    color: var(--text-color);
}

.flex {
    display: flex;
}

.gap20 {
    gap:2rem;
}

.radius5 {
    border-radius: 10px;
    overflow: hidden;
}
.start-text {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    gap: 5rem;
}

canvas {
    border: 1px solid var(--border-color);
}

.leaderboard {
    width: 20rem;
    min-height: 90%;

    border: 1px solid var(--border-color);
}

.btn-container {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
}

.board-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}